{{>layouts/header}}
<div class="container"><br>
    <h1>관리자용 커피 메뉴</h1>
        <p>상품을 수정하려면 상품명을 클릭하세요</p>
</div>
<div class="container">
<table class="table table-striped ">
    <thead>
    <tr>
        <th scope="col">상품번호</th>
        <th scope="col">상품이미지</th>
        <th scope="col">상품명</th>
        <th scope="col">상품설명</th>
        <th scope="col">상품가격</th>
        <th scope="col">카테고리설정</th>
    </tr>
    </thead>
    <tbody>
    {{#coffeesList}}
        <tr>
            <th style="vertical-align: middle"> {{id}}</th>
            <th style="vertical-align: middle"><img src="/images/{{title}}.jpg" class="rounded-circle bimg" alt="이미지 파일 없음"> </th>
            <td style="vertical-align: middle"> <a href="/coffees/{{id}}"> {{title}}</a></td>
            <td style="vertical-align: middle">{{content}}</td>
            <td style="vertical-align: middle">{{price}}</td>
            <td style="text-align: left;">
                <button type="button" class="btn btn-primary btn-w" onclick="location.href='/addade/{{id}}'">에이드</button>
                <button type="button" class="btn btn-primary btn-w" onclick="location.href='/addtea/{{id}}'">티</button>
                <button type="button" class="btn btn-primary btn-w" onclick="location.href='/addlatte/{{id}}'">라떼</button>
            </td>
        </tr>
    {{/coffeesList}}
    </tbody>
</table>
<button type="button" class="btn btn-primary btn-w" onclick="location.href='/toadmin'">관리자 화면</button>
<button type="button" class="btn btn-primary btn-w" onclick="location.href='/coffees/new'">상품 등록</button>
<button type="button" class="btn btn-primary btn-w" onclick="location.href='/coffees/delete'">상품 삭제</button>
<button type="button" class="btn btn-primary btn-w" onclick="location.href='/garbage/coffee'">휴지통</button>
</div>
{{>layouts/mainfooter}}