<!--  site info  -->
<div class="container-fluid" style="float: left">
    <hr>
    <div style="text-align: center;">
        <img src="/images/footerlogo.jpg" class="rounded-circle">
        <p>서울특별시 오서김로 제곱길 1층 오서김제곱하우스 본사 대표전화 1234-1234 고객센터 1234-4321 Fax 02-1234-4321 </p>
        <p>법인명:오서김 제곱카페 대표자:오서김제곱 사업자등록번호 000-000-0000 </p>
        <p><a href="#">체인점 문의</a></p>
    </div>
</div>